<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 order-2 order-md-1 game-list__items">
            <app-game-list *ngIf="paginatedGames!" [paginatedGames]="paginatedGames"></app-game-list>
            <app-pagination-nav
                *ngIf="paginatedGames!"
                [totalItems]="paginatedGames.TotalItems"
                [itemsPerPage]="paginatedGames.PageSize"
                [currentPage]="paginatedGames.CurrentPage"
                baseUrl="/game/list">
            </app-pagination-nav>
        </div>

        <div class="col-12 d-md-none mb-3">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-expanded="false" aria-controls="sidebarCollapse">
                Filter
            </button>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 order-1 order-md-2 game-list__sidebar collapse d-md-block" id="sidebarCollapse">
            <app-game-list-sidebar
                *ngIf="genres! && platformTypes! && publishers! && filterGameRequest!"
                [genres]="genres"
                [platformTypes]="platformTypes"
                [publishers]="publishers"
                [sortOptions]="sortOptions"
                [dateFilterOption]="dateFilterOption"
                [pageSizes]="pageSizes"
                (filter)="onFilter($event)">
            </app-game-list-sidebar>
        </div>
    </div>
</div>
