<div class="container">
    <div class="game-list">
        <div class="game-list__items">
            <app-game-list *ngIf="paginatedGames!" [paginatedGames]="paginatedGames"></app-game-list>
            <app-pagination-nav
                *ngIf="paginatedGames!"
                [totalItems]="paginatedGames.TotalItems"
                [itemsPerPage]="paginatedGames.PageSize"
                [currentPage]="paginatedGames.CurrentPage"
                baseUrl="/game/list">
            </app-pagination-nav>
        </div>
        <div class="game-list__sidebar">
            <app-game-list-sidebar
                *ngIf="genres! && platformTypes! && publishers! && filterGameRequest!"
                [genres]="genres"
                [platformTypes]="platformTypes"
                [publishers]="publishers"
                [sortOptions]="sortOptions"
                [dateFilterOption]="dateFilterOption"
                [pageSizes]="pageSizes"
                (filter)="onFilter($event)">
            </app-game-list-sidebar>
        </div>
    </div>
</div>


