//Colors
$gray: #9d9da1;
$light-gray: #D9D9D9;
$bright-orange: #EA9E31;
$moderate-orange: #D39E4C;
$vibrant-orange: #FCB03F;
$deep-sky-blue: #5A8EAD;
$medium-green: #89BC00;
$dark-green: #739F0D;
$light-yellow: #FDC77B;
$bright-yellow: #FEB13E;
$light-red: #F49061;
$strong-orange: #F26522;
$translucent-white: rgba(255, 255, 255, 0.9);
$medium-blue: #5375A9;
$strong-blue: #0D6EFD;


//Viewport sizes
$size-small: 576px;
$size-medium: 768px;
$size-large: 992px;
$size-extra-large: 1200px;
