<div class="main-footer d-flex justify-content-between flex-md-row flex-column">
    <div class="main-footer__item">
        <p class="main-footer__copyright">
            <fa-icon [icon]="copyrightIcon"></fa-icon>
            2007-2010 VIVROCKS.com | All rights Reserved
        </p>
        <p class="main-footer__company">
            PC Magazine Editors' Choice Award Logo is a registered trademark of Ziff Davis Publishing Holdings, Inc.
        </p>
    </div>
    <div class="main-footer__item">
        <h6 class="main-footer__title">Site links</h6>
        <ul class="main-footer__list">
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Home</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Privacy & Security</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Help</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Personal Finance Blog</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Site Map</a>
            </li>
        </ul>
    </div>
    <div class="main-footer__item">
        <h6 class="main-footer__title">Site links</h6>
        <ul class="main-footer__list">
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Home</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Privacy & Security</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Help</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Personal Finance Blog</a>
            </li>
            <li class="main-footer__list-item">
                <a class="main-footer__link" href="#">Site Map</a>
            </li>
        </ul>
    </div>
</div>
