@import "src/styles/variables";

.main-footer{
    margin: 20px 0;
}

.main-footer__item{
    &:first-child{
        max-width: 450px;
    }
}

.main-footer__list{
    list-style: none;
    padding: 0;
}

.main-footer__title{
    margin-bottom: 20px;
}

.main-footer__link{
    text-decoration: none;
    color: $gray;
}
