.tweet{
    border-bottom: 1px dashed #9d9da1;
    margin-bottom: 10px;
}

.tweet__title{
    color: #5a8ead;
    margin: 0;
}

.tweet__link{
    color: #da9d48;
    text-decoration: none;
}

.tweet__post-date{
    color: #9d9da1;
    margin-bottom: 15px;
    font-size: 14px;
}
