@import "src/styles/variables";

.comment__parent {
    margin-bottom: 10px;
    border-bottom: 1px solid $light-gray;
}

.comment__reply, .comment__quote {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: $strong-blue;

}

.comment__action{
    margin-left: 5px;
}

.comment__actions {
    display: flex;
    justify-content: flex-end;
}

.comment__children {
    padding-left: 40px;
    border-left: 1px solid black;
}

.comment__link {
    text-decoration: none;
    cursor: pointer;
}


