/* You can add global styles to this file, and also import other style files */
.help-block {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.required {
    color: red;
}

app-comment-list {
    display: flex;
    flex-direction: column-reverse;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
