<div class="container">
  <h1>Create Publisher</h1>
  <form [formGroup]="createPublisherForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input type="text" class="form-control" id="companyName" formControlName="CompanyName">
      <span
        *ngIf="!createPublisherForm.get('CompanyName')?.valid && createPublisherForm.get('CompanyName')?.touched"
        class="help-block">
        <span *ngIf="createPublisherForm.get('CompanyName')?.errors?.['required']">
          This field is required!
        </span>
         <span *ngIf="createPublisherForm.get('CompanyName')?.errors?.['maxlength']">
          The company name should be up to 40 characters!
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="Description"></textarea>
      <span
        *ngIf="!createPublisherForm.get('Description')?.valid && createPublisherForm.get('Description')?.touched"
        class="help-block">
        <span *ngIf="createPublisherForm.get('Description')?.errors?.['required']">
          This field is required!
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="homePage">Homepage</label>
      <input type="text" class="form-control" id="homePage" formControlName="HomePage">
      <span
        *ngIf="!createPublisherForm.get('HomePage')?.valid && createPublisherForm.get('HomePage')?.touched"
        class="help-block">
        <span *ngIf="createPublisherForm.get('HomePage')?.errors?.['required']">
          This field is required!
        </span>
      </span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="createPublisherForm.invalid">Submit</button>
  </form>
</div>

