<form ngForm="paymentForm" (ngSubmit)="onSubmit()"  class="p-4">
    <app-input-field
        [control]="paymentForm | formControl:'cardHolderName'"
        [isRequired]="true"
        labelText="Card Holder's Name">
    </app-input-field>
    <app-validation-message
        [control]="paymentForm | formControl:'cardHolderName'"
        [errorMessages]="{
            'required': 'The field is required'
        }">
    </app-validation-message>

    <app-input-field
        [control]="paymentForm | formControl:'cardNumber'"
        [isRequired]="true"
        labelText="Card Number">
    </app-input-field>
    <app-validation-message
        [control]="paymentForm | formControl:'cardNumber'"
        [errorMessages]="{
            'required': 'The field is required',
            'pattern': 'The field should be filled according to the next format 1234 5678 9012 3456'
        }">
    </app-validation-message>

    <app-input-field
        [control]="paymentForm | formControl:'expiryDate'"
        [isRequired]="true"
        labelText="Expiry Date">
    </app-input-field>
    <app-validation-message
        [control]="paymentForm | formControl:'expiryDate'"
        [errorMessages]="{
            'required': 'The field is required',
            'pattern': 'The field should be filled according to the next format MM/YY'
        }">
    </app-validation-message>

    <app-input-field
        [control]="paymentForm | formControl:'cvv2'"
        [isRequired]="true"
        labelText="CVV2/CVC2:"
        type="number">
    </app-input-field>
    <app-validation-message
        [control]="paymentForm | formControl:'cvv2'"
        [errorMessages]="{
            'required': 'The field is required',
            'pattern': 'The field should be filled with 3 numbers'
        }">
    </app-validation-message>
    <button type="submit" class="btn btn-primary" [disabled]="paymentForm.invalid">Pay</button>
</form>
